
.text-border {
  -webkit-text-stroke: 1px black;
  /* Border color and thickness */

  display: inline-block; /* Makes the shadow more effective */
  text-shadow: 6px 8px rgb(26, 21, 21);
  letter-spacing: 3px;
}/* app.css */

/* Base styles */
.flex {
  display: flex;
}

.bg-gradient {
  background: radial-gradient(42.38% 44.19% at 50.14% 67.33%, #FFF280 0%, #FFC700 100%);
}

/* Responsive styles for Project Vision */
.text-[150px] {
  font-size: 150px; /* Base font size */
}

@media (max-width: 768px) {
  .text-[150px] {
    font-size: 80px; /* Adjusted font size for mobile */
  }
}

/* Responsive styles for RoadMap */
.text-[100px] {
  font-size: 100px; /* Base font size */
}

@media (max-width: 768px) {
  .text-[100px] {
    font-size: 60px; /* Adjusted font size for mobile */
  }
}

/* Responsive styles for TokeNomics */
.text-[45px] {
  font-size: 45px; /* Base button font size */
}

@media (max-width: 768px) {
  .text-[45px] {
    font-size: 24px; /* Smaller font size for buttons */
  }
}

/* GamesSection styles */
h1.games-title {
  font-size: 150px; /* Base font size for Games Section */
  color: #ffffff;
}

h2.games-subtitle {
  font-size: 50px; /* Base subtitle size */
  color: #353535;
}

@media (max-width: 768px) {
  h1.games-title {
    font-size: 80px; /* Adjusted font size for mobile */
  }
  
  h2.games-subtitle {
    font-size: 30px; /* Adjusted subtitle size for mobile */
  }
}

/* General button styles */
button {
  transition: background-color 0.3s ease;
}

/* Button hover effects */
button:hover {
  background-color: #e0e0e0; /* Light background on hover */
}

/* Flex container styles for images */
.flex-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 20px;
}

@media (max-width: 768px) {
  .flex-image-container {
    flex-direction: column; /* Stack items on mobile */
    align-items: center; /* Center items */
  }
}

/* Image styles */
.image {
  width: auto;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  border-radius: 20px; /* Adjusted border radius */
  border: 8px solid white; /* White border */
}

@media (max-width: 768px) {
  .image {
    width: 90vw; /* Use percentage width for mobile */
  }
}

/* General layout styles */
.container {
  width: 90vw;
  height: auto;
  padding: 9px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s;
}

/* Adjustments for button text */
.button-text {
  font-size: 30px; /* Base button text size */
}

@media (max-width: 768px) {
  .button-text {
    font-size: 24px; /* Adjusted button text size for mobile */
  }
}
